# 機密情報
.env

# ライブラリ
/node_modules
/vendor

# キャッシュ・ログ
/storage/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/bootstrap/cache/*.php

# MySQLデータ (先ほどのアドバイス通り)
docker/mysql/data/

# OS固有
.DS_Store
Thumbs.db
